body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}

* {
  box-sizing: border-box;
}

.backgroundimg {
  background: url("https://images.unsplash.com/photo-1559163387-e46e8dcb27f2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTR8NDM3MDcyN3x8ZW58MHx8fHw%3D&w=1000&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2px);
  -webkit-filter: blur(2  px);
  height: 100vh;
  width: 100%;
}

.inner-container {
  backdrop-filter: blur(8px);
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.btn {
  border: none;
  color: rgb(0, 0, 0); 
  padding: 14px 28px; 
  cursor: pointer; 
  border-radius: 5px;
  background-color: #04AA6D;
  font-size: 18px;
}

.btn:hover {
  background-color: #46a049;
}

.btn-delete {
  width: 120px;
  
  height: 50px;
  border: none;
  color: rgb(0, 0, 0); 
  padding: 14px 28px; 
  cursor: pointer; 
  border-radius: 5px;
  background-color: #aa1504;
  font-size: 18px;
}

.btn-delete:hover {
  background-color: #c31010;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  background-color: transparent;
  backdrop-filter: blur(15px);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: calc(33.33% - 20px);
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pagination button {
  padding: 10px 20px;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 0 10px;
}

